trigger:
  branches:
    include:
      - master
  paths:
    exclude:
      - .vscode
      - scripts
      - .gitignore
      - README.md

pr:
  branches:
    include:
      - master
  paths:
    exclude:
      - .vscode
      - scripts
      - .gitignore
      - README.md

pool:
  vmImage: ubuntu-latest

stages:
  - ${{ if or(ne(variables['Build.SourceBranch'], 'refs/heads/master'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - template: .azure-pipelines/stages/deploy-preview-stage.yaml
        parameters:
          workingDirectory: $(Build.Repository.LocalPath)/$(workingDirectory)
  - ${{ if and(eq(variables['Build.SourceBranch'], 'refs/heads/master'), ne(variables['Build.Reason'], 'PullRequest')) }}:
      - template: .azure-pipelines/stages/deploy-prod-stage.yaml
        parameters:
          workingDirectory: $(Build.Repository.LocalPath)/$(workingDirectory)
