parameters:
  - name: workingDirectory
    type: string
    default: ""

stages:
  - stage: DeployPreview
    displayName: Deploy Site Preview
    jobs:
      - deployment: DeployPreview
        displayName: Deploy Site Preview
        variables:
          - group: Netlify
        environment: Netlify Test
        strategy:
          runOnce:
            deploy:
              steps:
                - template: ../steps/deploy-steps.yaml
                  parameters:
                    workingDirectory: ${{ parameters.workingDirectory }}
                    siteId: c837a62d-dab1-4414-b55c-57a2b3443d87
                    context: deploy-preview
