parameters:
  - name: workingDirectory
    type: string
    default: ""

stages:
  - stage: DeployProd
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'), ne(variables['Build.Reason'], 'PullRequest'))
    displayName: Deploy to Production Site
    jobs:
      - deployment: DeployProd
        displayName: Deploy to Production Site
        variables:
          - group: Netlify
        environment: Netlify Docs
        strategy:
          runOnce:
            deploy:
              steps:
                - template: ../steps/deploy-steps.yaml
                  parameters:
                    workingDirectory: ${{ parameters.workingDirectory }}
                    siteId: c837a62d-dab1-4414-b55c-57a2b3443d87
                    context: production
